@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-primary: #0f172a;
  --color-brand-secondary: #0d9488;
  --color-brand-accent: #f59e0b;
  --color-bg-main: #f8fafc;
  --color-text-main: #0f172a;
  --color-sidebar-bg: #0f172a;
}

@layer base {
  body {
    @apply bg-bg-main text-text-main font-sans antialiased;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300;
  }
}
